@mixin border-radius ($browsers)
    -webkit-border-radius: $browsers //chrome
    -moz-border-radius: $browsers //mozilla
    -ms-border-radius: $browsers //ie
    border-radius: $browsers //normal

*
    margin: 0%

    
        

.divpadding
    background-color: #c98bb4b0
    padding: 5vw

.subheads
    padding: 2vw    

header
    h1
        background-color: #d649a7b0
        padding: 3vw
        margin: 0vw
footer
    div
        background-color: #d649a7b0
        h4
            padding: 7vw



      

media screen and (max-width: 480 )
    .smallscreen
           
        

media screen and (min-width: 481px max-width: 786px)
    .food
        
        
        
            
